[Desktop Entry]
Type=Application
Name=Waddle
Comment=Browse and manage local files with desktop and Vim-style controls
Exec=waddle %U
Icon=io.github.powerpenguini.Waddle
Terminal=false
StartupNotify=true
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
Implements=org.freedesktop.FileManager1
Keywords=files;folders;explorer;vim;
